%table.fieldset
  - if @page.all_day_event
    = render :partial => "event_start_date_only", :object => @page
  - elsif @page.no_end_time
    = render :partial => "event_start_datetime", :object => @page
  - else
    = render :partial => "event_start_datetime", :object => @page
    = render :partial => "event_end_datetime", :object => @page
